@charset "UTF-8";

/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* しっぽり明朝読み込み */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
/* Noto Serif読み込み */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

/* 基本的な設定 */
:root {
    --gray: #8fa7ac;
    --blue: #2b78a4;
    --red: #9d1e2e;
    --dark_blue: #053653;
    --dark_color: #02123c;
    --dark_color-80: rgba(2, 16, 60, .8);
    --white: #f4f4f4;
    --boxshadow: rgba(244, 244, 244, .25);
}

html {
    background-color: var(--dark_color);
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    /* 明示的なデフォルトフォントサイズの指定 */
    font-size: 16px;
    line-height: 1.75;
    font-family: "Shippori Mincho", "Noto Serif JP", "游明朝", serif, "Material Icons";
}

/* 各セクションのタイトルは共通なので同時に設定 */
h3 {
    font-size: 2.75em;
    text-align: center;
    text-shadow: .5px .5px 0 var(--white), -.5px -.5px 0 var(--white),
    -.5px .5px 0 var(--white), .5px -.5px 0 var(--white),
    0 .5px 0 var(--white), 0 -.5px 0 var(--white),
    -.5px 0 0 var(--white), .5px 0 0 var(--white);
}

.wrapper {
    width: 90dvw;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.inner {
    width: 88%;
    margin-bottom: 24px;
}

.red {
    color: var(--red);
}

/* ボタンの装飾 */
.button {
    display: inline-block;
    width: 280px;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--red);
    color: var(--white);
    font-size: 1.25em;
    vertical-align: middle;
}

.button.active {
    background-color: var(--white);
    color: var(--red);
}

/* 各セクション毎の距離を統一 */
#profile, #skills, #works, #price, #contact {
    margin-top: 5rem;
    padding: 1.25em 0;
    box-shadow: 10px 10px 4px 0 var(--boxshadow);
}

/* ヘッダー */
.top_header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 124px;
    padding: 1.5em 0;
    background-color: var(--dark_color-80);
}

.top_header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_left {
    max-width: 152px;
}

.header_logo {
    width: 100%;
}


.headerNav_list-right {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.nav_link {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
            background-clip: text;
    color: var(--gray);
    text-decoration: none;
    transition: color .5s ease, -webkit-text-fill-color .5s ease, -webkit-background-clip .5s ease;

    -webkit-text-fill-color: var(--gray);
    -webkit-background-clip: text;
}

.nav_link::after {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(to right, var(--red), var(--white), var(--blue));
    content: "";
    transition: width .5s ease;
}

.nav_link:hover {
    background: linear-gradient(to right, var(--red), var(--white), var(--blue));
    color: transparent;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_link:hover::after {
    width: 100%;
}

.nav_link:visited {
    color: var(--gray);
}

/* footer */
/* SNS(Businessツール)へのリンクは現時点では不要のため非表示 */
footer {
    padding: 24px;
}

.footer_nav {
    display: none;
}

.copyright {
    text-align: center;
}

/* MV装飾 */
.mv {
    position: relative;
}

.mv_text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

    translate: -50% -50%;
}

.mv_title-boxShadow {
    margin-bottom: .3em;
    font-weight: bold;
    font-size: 4em;
    text-shadow: 10px 10px 20px rgba(43, 46, 253, .8);
}

.mv-background {
    transform: scaleY(-1);
}

/* Profile */
#profile {
    background-color: var(--blue);
}

.profile_title {
    margin-bottom: 1.5em;
}

.profile_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;

    gap: 30px;
}

.scopettl_box {
    padding: .75em 0;
    background-color: var(--dark_blue);
    text-align: center;
}

.scope_title, .card_ttl {
    font-weight: bold;
    font-size: 1.25em;
}

.scope_txt {
    margin-bottom: 1.25em;
    text-align: center;
}

.businessCards {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* ↑300px幅で収まるだけ横に並べる */
    gap: 2em;
}

.businessCard, .businessImgbox, .businessCard_content {
    display: grid;
    align-items: center;

    grid-template-rows: 1fr;
    gap: 1em;
}

.card_list {
    list-style: disc;
    text-align: left;
}

/* Skills */

#skills {
    background-color: var(--gray);
}

#skills h4 {
    margin-top: 2.5em;
    padding: .75em 0;
    background-color: var(--blue);
    text-align: center;
}

.skills_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 2.5em;

    gap: 1.25em;
}

.skills_category, .skillsContentBox {
    width: 100%;
}

.skillsContentBox {
    transition: all .5s;
}

.skills_name {
    display: block;
    position: relative;
    padding: 1em;
    background-color: var(--dark_blue);
    transition: transform .5s;
}

.skills_name::before {
    position: absolute;
    top: 50%;
    right: 2em;
    height: 50%;
    content: "\ead0";
    transition: transform .5s;

    translate: -50% -50%;
}

.skillsContentBox[open] .skills_name::before {
    transform: rotate(90deg);
}

.skills_content {
    padding: 1.25em .75em;
    background-color: var(--white);
    color: var(--dark_color);

    /* コンテンツの開閉処理はJSで行う */
}

/* Works 
JSにてカテゴリー毎にまとめる
各カードはスライダー(特定幅以上は薄くする) */
.works_container {
    background-color: var(--dark_blue);
}

.category {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    text-align: center;
}

.category .button {
    margin: 27px;
}

.worksCards {
    display: flex;
    flex-wrap: nowrap;
    margin: 1.5em 0 4.5em 0;
    overflow: scroll;

    gap: 2.5em;
}

.worksCard {
    min-width: 450px;
    padding: 1.25em;
    border-radius: 30px;
    background-color: var(--white);
    color: var(--dark_color) !important;
    text-align: center;
}

.works_client {
    font-size: 2.75em;
}

.works_taxsonomy, .works_tool {
    font-size: 1.25em;
}

/* Price */
#price {
    background-color: var(--blue);
}

.priceTable {
    margin-top: 5em;
    background-color: var(--white);
    color: var(--dark_color);
    border-collapse: collapse;
}

th, td {
    padding: 1em;
    border: solid 1px var(--dark_color);
}

.price_content {
    margin: 2.5em 0 3em;
    text-align: center;
}

/* Contact */
.contact {
    background-color: rgba(244, 244, 244, .4);

    backdrop-filter: blur(10px);
}

.contact_content {
    text-align: center;
}

legend {
    margin: 0;
}