@charset "UTF-8";

/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* しっぽり明朝読み込み */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
/* Noto Serif読み込み */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

/* 基本的な設定 */
:root {
    --gray: #8fa7ac;
    --accent_blue: #2b78a4;
    --accent_red: #9d1e2e;
    --dark_blue: #053653;
    --dark_color: #02123c;
    --dark_color-80: rgba(2, 16, 60, .8);
    --white: #f4f4f4;
}

html {
    background-color: var(--dark_color);
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Shippori Mincho", "Noto Serif JP", "游明朝", serif;
}

/* 各セクションのタイトルは共通なので同時に設定 */
h3 {
    font-size: 1.75em;
    text-align: center;
    text-shadow: .5px .5px 0 var(--white), -.5px -.5px 0 var(--white),
    -.5px .5px 0 var(--white), .5px -.5px 0 var(--white),
    0 .5px 0 var(--white), 0 -.5px 0 var(--white),
    -.5px 0 0 var(--white), .5px 0 0 var(--white);
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.inner {
    width: 80%;
    margin-bottom: 24px;
}

.red {
    color: var(--accent_red);
}


/* 各セクション毎の距離を統一 */
#profile, #skills, #works, #price, #contact {
    margin-top: 80px;
}

/* ヘッダー */
.top_header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 124px;
    padding: 1.5em 0;
    background-color: var(--dark_color-80);
}

.top_header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_left {
    max-width: 152px;
}

.header_logo {
    width: 100%;
}


.headerNav_list-right {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.nav_link {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
            background-clip: text;
    color: var(--gray);
    text-decoration: none;
    transition: color .5s ease, -webkit-text-fill-color .5s ease, -webkit-background-clip .5s ease;

    -webkit-text-fill-color: var(--gray);
    -webkit-background-clip: text;
}

.nav_link::after {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(to right, var(--accent_red), var(--white), var(--accent_blue));
    content: "";
    transition: width .5s ease;
}

.nav_link:hover {
    background: linear-gradient(to right, var(--accent_red), var(--white), var(--accent_blue));
    color: transparent;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_link:hover::after {
    width: 100%;
}

.nav_link:visited {
    color: var(--gray);
}

/* footer */
/* SNS(Businessツール)へのリンクは現時点では不要のため非表示 */
footer {
    padding: 24px;
}

.footer_nav {
    display: none;
}

.copyright {
    text-align: center;
}

/* MV装飾 */
.mv {
    position: relative;
}

.mv_text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;

    translate: -50% -50%;
}

.mv_title-boxShadow {
    margin-bottom: .3em;
    font-weight: bold;
    font-size: 4em;
    text-shadow: 10px 10px 20px rgba(43, 46, 253, .8);
}

.mv-background {
    transform: scaleY(-1);
}

/* Profile */
#profile {
    padding: 24px 0;
    background-color: var(--accent_blue);
}